################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calculator/.vs/Calculator
/Calculator/bin/Debug
/Calculator/obj
/DateAndTimeCalculator/.vs/DateAndTimeCalculator
/DateAndTimeCalculator/obj
